{% load static %}
<!--Footer-->
<div class="text-white mb-0 pb-0" style="background-color:black;"> 
    <div class="container-fluied text-center">
    <a href="{% url 'home' %}" class="d-block text-warning text-center fs-3 bg-info text-decoration-none">Home
    <span class="material-icons align-middle fs-3">
home
</span>
    </a>

        <div class="p-3">
            <img src="{% static 'images/payavail/payment.png' %}" class="img-fluid" alt="" srcset="">
        </div>

        
        <div class="p-2">
            Designed and devloped By
            <span class="fst-italic" style="text-shadow: 2px 1px 3px white;">"Amar Chauhan"</span>
        </div>

        <div class="p-2">
            Contact at
            <span class="fst-italic" style="text-shadow: 1px 1px 3px white;">"amarcchauhan@gmail.com"</span>
        </div>

        <div class="p-2">
            Aspired By 
            <span class="fst-italic " style="text-shadow: 2px 1px 3px white;">"GeekyShows" </span>
            Youtube Channel
        </div>

        <div class="fst-italic p-2">
            Copyright &copy; 2021-2021 VESIT,inc
        </div>
        

    </div>

</div>