{% extends 'shopapp/base.html' %}

{% block title %}Login{% endblock title %}

{% block main %}
    
<div class="row m-auto">  
    <div class="col-md-5 m-auto p-sm-0 border p-md-5 my-5 shadow-lg p-3 mb-5 bg-body rounded">
        <h2 class="text-center text-primary">Change Password</h2>
        <form action="" method="post"  class="">
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
            {% endif %}

            {% for form in form %}
                <div class="my-2">
                    <span class="fw-normal fs-5">{{form.label_tag}}</span>
                    {{form}}
                    {{form.errors|striptags}}
                </div>
            {% endfor %}

            <div class="my-2 text-center">
                <input type="submit" value="Change" class="btn btn-lg btn-success rounded-pill">
            </div>
    
        </form>
    </div>
    
   

</div>
 
{% endblock main %}